<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" routerLink="/dashboard">Blog Admin</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 d-lg-none" id="sidebarToggle" type="button"
        data-bs-toggle="offcanvas" data-bs-target="#sidebarWrapper" aria-controls="sidebarWrapper">
        <i class="bi bi-list" style="font-size: 1.5rem;"></i>
    </button>

    <!-- Navbar Search-->
    <span class="navbar-text d-none d-md-inline-block ms-auto me-3">Hi, {{user.username}}</span>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="javascript:void(0)" role="button"
                data-bs-toggle="dropdown" aria-expanded="false"><svg class="svg-inline--fa fa-user fa-fw"
                    aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user" role="img"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                    <path fill="currentColor"
                        d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z">
                    </path>
                </svg><!-- <i class="fas fa-user fa-fw"></i> Font Awesome fontawesome.com --></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/">Homepage</a></li>
                <li><a class="dropdown-item" routerLink="/dashboard/settings">Settings</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" (click)="onLogout()">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>