// Custom styles for fixed sidebar layout
@media (min-width: 992px) {
  #page-content-wrapper {
    margin-left: 250px;
    // padding-top: 56px; // Height of fixed header
  }

  #wrapper {
    padding-top: 56px; // Add padding for fixed header
  }
}
