<section class="mt-5">
    <h3 class="mb-4">Comments </h3>
    @if (listComments.length != 0){

    <!-- Comment -->
    @for (comment of listComments; track comment.id) {
    <div class="d-flex mb-4">
        <img src="/assets/img/no_img.jpg" alt="Commenter" width="50" height="50" class="rounded-circle me-3">
        <div class="flex-grow-1">
        <div class="bg-light p-3 rounded">
            <h6 class="mb-1">{{ comment.user.username }}</h6>
            <small class="text-muted">{{comment.updated_at | date }}</small>
            <p class="mb-0 mt-2">{{comment.content}}</p>
        @if (user != null){
        <button type="button" class="btn btn-sm btn-outline-primary mt-2">Reply</button>
        }
        </div>

            <!-- Reply -->
            <app-reply-comment></app-reply-comment>
        </div>
    </div>
    }
    }@else{
    <p>No comments yet. Be the first to comment!</p>
    }
    <!-- Comment Form -->
    @if (user != null){
    <app-post-comment [user]="user" [postId]="postId" (submitComment)="loadComments()"></app-post-comment>
    } @else{
    <div class="mt-4">
        <p>Please <a routerLink="/auth/login">log in</a> to leave a comment.</p>
    </div>
    }
</section>